# Created by https://www.gitignore.io/api/python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*/*.py[cod]

### Emacs ###
*~
\#*\#

### .DS_Store ###
.DS_Store

### Releases ###
dist/
releases/
